<!--home-->
<section class="slide fade kenBurns" data-name="home">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-7-12 left middle">
              <h1 class="big ae-1 fromLeft">Beeville Art Museum</h1>
              <div class="ae-2 fromLeft"><p class="hero">Our site is currently being rebuilt. We apologize for any inconvenience. Visit us again soon. <br><br>We are currently accepting submissions for the 2017 Texas Artist Exhibition. <em>*The deadline for submission is June 1, 2017</em></p></div>
              <a class="button white ae-3 fromCenter">
                <a href="http://11-11studios.com/bam/2017%20TAE%20Entry%20Form.pdf" target="_blank">Download Form</a>
                </a>
            </li>
            <!--<li class="col-5-12">
              <img class="ae-4" width="404" src="assets/img/iphones-34.png" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>-->
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/bamBackground.jpg)"></div>
</section>
<!--exhibtion-->
<section class="slide whiteSlide" data-name="exhibition">
  <div class="content">
    <div class="container">
      <div class="wrap">
          
        <div class="fix-12-12">
          <ul class="flex verticalCenter reverse">
            <li class="col-6-12 left">
              <h1 class="ae-2">Historias Sin Palabras / Stories Without Words</h1>
              <div class="ae-3"><p>Works by Joe Lopez</p></div>
              <ul class="flex grid-62 later">
                <li class="col-6-12 ae-4">
                  <!--<i class="material-icons">fingerprint</i>-->
                  <h3>Currently on view through July 21, 2017</h3>
                  <!--<p class="small">Scan entire conversations in a chat-like view.</p>-->
                </li>
                <!--<li class="col-6-12 ae-5">
                  <i class="material-icons">switch_camera</i>
                  <h3>Messages</h3>
                  <p class="small">Quickly swipe messages to your archive or trash.</p>
                </li>
                <li class="col-6-12 ae-6">
                  <i class="material-icons">notifications_off</i>
                  <h3>Music Center</h3>
                  <p class="small">Unforgettable feelings through a quality music.</p>
                </li>
                <li class="col-6-12 ae-7">
                  <i class="material-icons">layers</i>
                  <h3>Channels</h3>
                  <p class="small">Read reviews, compare customer ratings.</p>
                </li>-->
              </ul>
            </li>
            <li class="col-6-12 left ae-1 image-62">
              <img class="macbook-62 margin-bottom-3" src="assets/img/ElConeHeadGallo.png"  width="549" alt="El Cone Head Gallo"/>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <!--<div class="background" style="background-image:url(assets/img/img-62.jpg)"></div>-->
</section>
<!--Contact-->
<section class="slide whiteSlide" data-name="contact">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12 margin-top-5">
          <ul class="grid fixedSpaces">
            <li class="col-6-12">
              <h3 class="margin-bottom-1">Beeville Art Museum</h3>
              <p>401 E. Fannin<br>Beeville, Texas 78102</p>
              <p>361.358.8615</p>
              <h3 class="margin-bottom-1">Hours</h3>
              <p>M-F 9:00 am - 5:00 pm</p>
              <p>Saturday 10 am - 2 pm</p>
              <p>Sunday Closed</p>
            </li>
            <li class="col-6-12">
              <h3 class="margin-bottom-1">Contact</h3>
              <p class="margin-bottom-4"><a href="mailto:BarnhartFoundation@gmail.com">Tracy Saucier, Director</a></p>
              <!--<p><a href="mailto:">BarnhartFoundation@gmail.com</a></p>-->
              <p class="margin-bottom-4"><a href="mailto:Education@BAMTexas.org">Crystal Farris<br> Associate Director - Education</a></p>
              <!--<p><a href="mailto:#">Education@BAMTexas.org</a></p>-->
              <p class="margin-bottom-4"><a href="mailto:Operations@BAMTexas.org">Corlie Weed<br> Associate Director - Operations</a></p>
              <!--<p><a href="mailto:#">Operations@BAMTexas.org</a></p>-->
            </li>
          </ul>
        </div>
      
        <!---->
        <!--<div class="fix-10-12">
          <h1 class="ae-1">Beeville Museum of Art</h1>
          <h2 class="ae-1"> 401 E. Fannin<br>Beeville, Texas 78102</h2>
          <h3 class="ae-1">Hours</h3>
          <p class="ae-1">M-F 9:00 am - 5:00 pm</p>
          <p class="ae-1">Saturday 10 am - 2 pm</p>
          <p class="ae-1">Sunday Closed</p>
          
        </div>-->
        <!---->

        <div class="fix-12-12 margin-top-6">
          <ul class="grid fixedSpaces">
            <!--<li class="col-4-12 ae-3">
              <h3 class="margin-bottom-1">Beeville Art Museum</h3>
              <p>401 E. Fannin<br>Beeville, Texas 78102</p>
              <h3 class="margin-bottom-1">Hours</h3>
              <p>M-F 9:00 am - 5:00 pm</p>
              <p>Saturday 10 am - 2 pm</p>
              <p>Sunday Closed</p>
            </li>
            <li class="col-4-12 ae-4">
              <h3 class="margin-bottom-1">Tracy Saucier, Director</h3>
              <p><a href="mailto:#">BarnhartFoundation@gmail.com</a></p>
              <h3 class="margin-bottom-1">Crystal Farris<br>Associate Director - Education</h3>
              <p><a href="mailto:#">Education@BAMTexas.org</a></p>
              <h3 class="margin-bottom-1">Corlie Weed<br>Associate Director - Operations</h3>
              <p><a href="mailto:#">Operations@BAMTexas.org</a></p>
            </li>-->
            <li class="col-12-12 ae-5">
              <!--<h3 class="margin-bottom-1">Current Exhibition</h3>
              <p><a href="#">Historias Sin Palabras / Stories Without Words</a></p>-->
              <h3 class="margin-bottom-1">Stay in touch</h3>
              <ul class="social-circles">
                <li><a class="button roundButton facebook" href="https://www.facebook.com/Beeville-Art-Museum-103515313030905/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
                <!--<li><a class="button roundButton twitter" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
                <li><a class="button roundButton tumblr" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumblr"></use></svg></a></li>
                <li><a class="button roundButton googlePlus" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#googlePlus"></use></svg></a></li>-->
                <!-- <li><a class="button roundButton instagram" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li> -->
                <!-- <li><a class="button roundButton youtube" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></a></li> -->
                <!-- <li><a class="button roundButton linkedin" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li> -->
                <!-- <li><a class="button roundButton pinterest" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pinterest"></use></svg></a></li> -->
              </ul>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</section>